

hr{
	width: 110%;
	margin-right: -4%;
}

.lol {
	height: 300px;
    display: grid;
	margin-top: 30%;
  }
  
  .sliderMainContainer{
	justify-self: center;
	align-self: center;
	justify-content: center;
	align-content: center;	
  }
.sliderContainer{
	padding: 10%;
	text-align: right;
    width: 538px;
    height: fit-content;
	justify-self: stretch;
	align-self: center;
background-color:lightsteelblue;
margin-bottom: 10%;

}

@media screen and (max-width: 768px) {
	hr{
		width: 100%;
		margin: 0;
	}
	.sliderContainer{
		width: 307px;
	}
}